@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #f6f7f7;
}
.App {
    width: 420px;
    max-width: 420px;
    min-width: 325px;
    margin: 0 auto;
    display: flex;
    background: #ffffff;
    flex-direction: column;
}
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f5fa;
    padding: 5px 15px;
    -webkit-box-shadow: 0px 8px 7px -3px rgba(240, 245, 250, 0.6);
    -moz-box-shadow: 0px 8px 7px -3px rgba(240, 245, 250, 0.6);
    box-shadow: 0px 8px 7px -3px rgba(240, 245, 250, 0.6);
}
.header--left {
    display: flex;
    flex-direction: column;
}
.header--left h2 {
    color: #403b61;
    font-size: 20px;
}
.header--left p {
    width: 55%;
    color: #cbc1cc;
    font-size: 12px;
}
.header--right {
    display: flex;
    align-items: center;
}
.to-cart-btn {
    background: #000000;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3px;
    margin-left: 25px;
    cursor: pointer;
}
.menu--dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000000;
}
.view-change {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 30px;
    font-size: 35px;
}
.slider {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #f2f2f2;
}
.slider-carousel {
    width: 400px;
    overflow: hidden;
}
.slider--slides {
    display: flex;
    align-items: center;
    max-height: 250px;
}

.slide-img {
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide {
    display: block;
    width: 100%;
    min-width: 400px;
    max-height: 280px;
    border-radius: 3px;
}
.slide--no-images-mesage {
    display: flex;
    align-items: center;
    text-align: center;
}
.slide--animation{
    transition: 0.4s all ease-in;
}
/* карусель сдвиг */
.slider--btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px ;
    margin-bottom: 10px;
}
.slider--btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d8d8d8;
    border-radius: 50%;
    cursor: pointer;
}
.work-list {
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.work-list--expand {
    position: absolute;
    width: 100%;
    height: 100%;
}
.work-list nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 1px solid #f0f5fa;
    -webkit-box-shadow: 0px 8px 7px -3px rgba(240, 245, 250, 0.6);
    -moz-box-shadow: 0px 8px 7px -3px rgba(240, 245, 250, 0.6);
    box-shadow: 0px 8px 7px -3px rgba(240, 245, 250, 0.6);
}
.nav-item {
    font-size: 16px;
    color: #c3cad6;
    cursor: pointer;
    padding: 10px 0;
}
.nav-item a {
    font-size: 16px;
    color: #c3cad6;
    text-decoration: none;
    margin: 0;
}
.work-list--table {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-list--table > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}

.table-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.expand {
    font-size: 14px;
    cursor: pointer;
}

.work-list--wrapper {
    display: flex;
    width: 100%;
    min-height: 300px;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
}
.work-list--wrapper img {
    height: 80px;
    width: auto;
    border-radius: 7px;
}
.work-list--wrapper form {
    height: 80px;
    width: 130px;
    background: #ffffff;
    border: 2px dotted #000000;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.nav-item--active {
    display: flex;
    color: #403b61;
    border-bottom:3px solid #403b61;
}
.nav-item--active a{
    color: #403b61;
}
.work-list--wrapper input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.modal--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    height: 200%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.92);
    z-index: 3;
}

.modal {
    width: 320px;
    height: 180px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f0f5fa;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
}
.modal-image {
    width: 100%;
}
.modal-image img{
    width: 100%;
}
.modal--close-btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
}
.modal--go-cart-btn {
    background: #000000;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-image--controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
}
.modal-image--controls-btn {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.modal-image--controls-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.close-modal-image {
    align-self: flex-start;
}